services:
  - type: web
    name: kiaatbse-backend
    runtime: docker
    repo: https://github.com/Parvpaigwar/KiaatbSe-Backend
    region: singapore
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: backend.settings
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: REDIS_URL
        sync: false
      - key: SENDGRID_API_KEY
        sync: false
      - key: DEFAULT_FROM_EMAIL
        sync: false
      - key: CORS_ALLOW_ALL
        value: "True"
      - key: GEMINI_API_KEY
        value: AIzaSyCrGvYB15HTlQnHmMIdhTPEG1QMC-BGjJg
